body{
    background-image: url('https://e0.pxfuel.com/wallpapers/981/957/desktop-wallpaper-futuristic-star-wars-background-motion-background-storyblocks-video-for-your-mobile-tablet-explore-star-wars-pattern-background-star-wars-pattern-background-star-wars-star.jpg');
}

.jumbotron{
    text-align: center;
}

.Extra-info{
    display: flex;
    justify-content: center;
}

.more-info-img{
    max-height: 550px;
    max-width: 400px;
    margin: 20px;
    
}

.Extra-info h3{
    margin-right: 10px;
    font-size:large;
    color: rgb(255, 255, 255);
}

.jumbotron h1{
    color: #e6cd11;
}

.jumbotron p{
    color: rgb(255, 255, 255);
}


